<div class="hx-columns is-gapless">

  <div class="hx-column hx-bg-white is-full-height-column">

    <h4>Letter Writer</h4>

    <h5>Specialist Referral - Form</h5>

    <h6>Specialist Referral</h6>

    <div class="hx-columns">
      <div class="hx-column is-mobile">
        Presenting Problem
      </div>
      <div class="hx-column">
        <input name="presenting-problem" class="old-input">
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        Address Book
      </div>
      <div class="hx-column">
        <!--<input-->
          <!--#localSearchString-->
          <!--(keyup)="search($event.target.value)"-->
          <!--type="text"-->
          <!--name="address-book"-->
          <!--class="old-input mb-2"-->
          <!--placeholder="Search by name or specialty">-->

        <button
          class="hx-button"
          (click)="openPractitionerSearchModal()">
          Find a practitioner</button>

        <div class="hx-input-control">
          <div class="hx-checkbox-control">
            <input name="checkboxGroup1" type="checkbox" class="hx-checkbox" id="option3" disabled="">
            <label for="option3" class="hx-label">Save to inbox</label>
          </div>
        </div>

        <!--<div-->
          <!--*ngIf="localSearchString.value"-->
          <!--class="local-results-container is-elevate-5">-->
          <!--<div-->
            <!--class="local-results">-->
            <!--&lt;!&ndash;<div class="local-results__header">Practice Address Book Search Results</div>&ndash;&gt;-->

            <!--<div-->
              <!--*ngIf="(localPractitioners$ | async) as localPractitioners; else loadingPractitioners">-->
              <!--<div-->
              <!--*ngFor="let localPractitioner of localPractitioners"-->
              <!--class="local-result">-->
                <!--<div class="local-title">{{ localPractitioner.FormattedName }}</div>-->
                <!--<div class="local-specialty">{{ localPractitioner.Speciality?.Description }}</div>-->
                <!--<div class="is-flex local-contact">-->
                  <!--<div>-->
                    <!--<div class="local-suburb">{{ localPractitioner.PhysicalAddress.Suburb }} {{-->
                      <!--localPractitioner.PhysicalAddress.State }}-->
                    <!--</div>-->
                    <!--<div class="local-phone">{{ localPractitioner.Phone }}</div>-->
                  <!--</div>-->
                  <!--<div class="local-edit"><i class="hx-icon icon-edit-outline"></i></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->

          <!--<div class="local-results__fixed-footer">-->
            <!--<div class="footer-link">-->
              <!--<svg-->
                <!--class="healthshare-logo mr-2"-->
                <!--id="healthshare-icon"-->
                <!--data-name="layer"-->
                <!--xmlns="http://www.w3.org/2000/svg"-->
                <!--viewBox="0 0 28.94 25.89"><title>healthshare-logo</title>-->
                <!--<path d="M28.18,22.57h0V11.46a8.35,8.35,0,0,0-8.36-8.35H10.36A8.35,8.35,0,0,0,2,11.46v9.19A8.35,8.35,0,0,0,10.36,29H28.18C34.39,29,28.18,27.19,28.18,22.57Zm-5.58-5H17v5.63H14V17.6H8.32v-3H14V9h3v5.63H22.6Z" transform="translate(-2 -3.11)" fill="#22a7ae"/>-->
              <!--</svg>-->
              <!--<a (click)="openPractitionerSearchModal()">-->
                <!--Search HealthShare</a>-->
            <!--</div>-->
            <!--<div class="footer-link">-->
              <!--<i class="hx-icon is-small icon-batch-outline mr-2"></i>-->
              <!--<a (click)="openPractitionerSearchModal()">Browse frequently used</a>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
      </div>
    </div>

    <!--<button class="hx-button is-primary" (click)="openPractitionerSearchModal()">Open modal</button>-->
  </div>


  <div class="hx-column hx-bg-grey-lightest"></div>

</div>

<ng-template #loadingPractitioners>
  <div class="is-flex ml-2">
    <div class="hx-button is-loading is-transparent" disabled=""></div>
    <div class="hx-button is-white" disabled="">Searching ...</div>
  </div>
</ng-template>

