.hx-column.is-full-height-column {
  height: 100vh;
  padding: 1rem;
}


.old-input {
  width: 100%;
  border-radius: 3px;
  box-shadow: inset 0 2px 1px transparent;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: rgba(0,0,0,.05);
  color: #555;
  border: 1px solid transparent;

  &:focus {
    outline: none;
  }
}

.local-results-container {
  border: 1px solid #dedede;
  border-radius: 2px;
}

.local-results {
  height: 300px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(102,102,102,.3);
    border-radius: 5px
  }

  &::-webkit-scrollbar-track {
    background: rgba(102,102,102,.2);
    box-shadow: none;
  }
}

.local-results__header {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;
  padding: 0.75rem;
}

.local-result {
  border-bottom: 1px solid #dedede;
  padding: 0.5rem 0 0.5rem 0.75rem;
  cursor: pointer;
}

.local-results__fixed-footer {
  background-color: #fafafa;
  padding: 0.75rem;
  box-shadow: 13.75px 0 22px 1.1px rgba(0, 0, 0, 0.08);

  .footer-link {
    font-size: 0.85rem;
    line-height: 1.75;
    display: flex;
    align-items: center;
    a {
      color: #666666;
    }
  }
}

.local-title {
  font-size: 0.95rem;
  line-height: 1.2;
}

.local-specialty {
  font-size: 0.8rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 0.5rem
}

.local-contact {
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}
.local-suburb {
  line-height: 1.2;
}
.local-phone {
  font-weight: 500;
}
