.practice {
  border-bottom: 1px solid #dedede;
  padding: 1rem 0;
  &:first-child {
    border-top: 1px solid #dedede;
  }

  .practice-header {
    display: flex;
    align-items: center;

    .practice-icon {
      flex: 0 0 30px;
    }
    .practice-title {
      flex: 1 1 auto;
      font-weight: 500;
    }

    .practice-location {
      font-weight: 400;
    }

    .practice-button {
      margin-left: 1rem;
      flex: 0 0 50px;
    }
  }

  .practice-details {
    .practice-address {
      margin-bottom: 1rem;
    }

    .practice-subheading {
      font-size: 0.85rem;
      font-weight: 500;
      margin-bottom: 0.25rem;
    }
  }
}
