<div *ngFor="let practice of practices"
  class="practice">

  <div class="practice-header">
    <!--<div class="practice-icon">-->
      <!--<i class="hx-icon is-medium icon-angle-right"></i>-->
    <!--</div>-->

    <div class="practice-title">
      {{ practice.name }}
    </div>

    <div class="practice-location">{{ practice.suburb }}, {{ practice.state }}</div>

    <div class="practice-button">
      <div class="hx-button is-primary">Select</div>
    </div>
  </div>

  <div class="practice-details">
    <div class="practice-address">
      <div class="practice-address__line">{{ practice.street1 }}</div>
      <div class="practice-address__line">{{ practice.street2 }}</div>
      <div class="practice-address__line">{{ practice.suburb }} {{ practice.state }} {{ practice.postcode }}</div>
    </div>

    <div class="hx-columns is-mobile">
      <div class="hx-column">
        <div *ngIf="practice.phones.length > 0 || practice.fax !== '' && practice.website !== ''">
          <div class="practice-subheading">
            Contact Details
          </div>
          <div
            *ngFor="let phone of practice.phones"
            class="practice-contact">
            <i class="hx-icon is-small icon-telephone-outline"></i> {{ phone }}
          </div>
          <div
            *ngIf="practice.fax"
            class="practice-contact">
            <i class="hx-icon is-small icon-printer-outline"></i> {{ practice.fax }}
          </div>
          <div
            *ngIf="practice.website"
            class="practice-contact">
            <i class="hx-icon is-small icon-external-link"></i> <a href="{{ practice.website }}" target="_blank">Website</a>
          </div>
        </div>
      </div>
      <div class="hx-column is-text-right">
        <!--check if hours is not an empty object-->
        <div *ngIf="(practice.hours | json) != '{}'">
          <div class="practice-subheading">
            Opening Hours
          </div>
          <div
            *ngFor="let day of practice.hours | keyvalue"
            class="practice-hours">
            <!--TO DO: Order and format day name-->
            {{ day.key }} : {{ day.value.start }} to {{ day.value.end }}
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
