.specialties-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
  padding: 0.75rem;

  &:first-child {
    border-top: 1px solid #dedede;
  }
}
