<div *ngIf="specialties?.length > 0">

  <div class="search-heading mb-5">
    <span class="h6 search-heading__title is-info is-text-weight-bolder">Specialties</span>
    <span class="search-heading__matching ml-3">
      {{ specialties.length }} result{{ specialties.length === 1 ? '' : 's' }} matching '{{ this.searchString }}'</span>
  </div>
  <div>
    <div
      class="specialties-result"
      *ngFor="let specialty of specialties"
      (click)="chooseSpecialty(specialty.id)"
      >
      <div [innerHTML]="specialty.name | searchHighlight: searchString"></div>
      <i class="hx-icon icon-angle-right"></i>
    </div>
  </div>
</div>

