<div
  (click)="goBack()"
  class="breadcrumb">
  <div class="breadcrumb-back">
    <i class="hx-icon is-medium icon-angle-left"></i>
  </div>
  <div class="breadcrumb-text">
    Back to specialties
  </div>
</div>

<div *ngIf="(practitionerSearchResults$ | async) as practitionerSearchResults; else loading">
  <!--Use async once only to prevent multiple calls, assign practitioners variable -->
  <h5>{{ specialtyName }} ( {{ practitionerSearchResults.count }})</h5>
  <table class="hx-table is-hover">
    <tbody>
    <tr
      *ngFor="let practitioner of practitionerSearchResults.results"
      (click)="choosePractitioner(practitioner.id)">
      <td>
        <div
          class="hx-avatar mx-1 is-large"
          [style.background-image]="'url(' + practitioner.avatar  + ')'">
        </div>
      </td>
      <td>
        <div class="pract-spec-summary">
          <div class="pract-spec-summary__name">
            {{ practitioner.title }} {{ practitioner.first_name }} {{ practitioner.last_name }}
          </div>
          <div class="pract-spec-summary__specialty">
            {{ getSpecialtyNames(practitioner.specialties) }}
          </div>
          <div class="pract-spec-summary__qualificiations">
            {{ practitioner.qualifications_title }}
          </div>
          <div class="pract-spec-summary__interests">
            {{ practitioner.interests_description}}
          </div>
        </div>
      </td>

      <td>
        <div class="pract-result-location">
          {{ practitioner.location }}
        </div>
      </td>

      <td>
        <i class="hx-icon icon-angle-right"></i>
      </td>

    </tr>
    </tbody>
  </table>
  <app-healthshare-signature></app-healthshare-signature>
  <app-additional-actions></app-additional-actions>
</div>

<ng-template #loading>
  <app-loading loadingText="Loading practitioners ..."></app-loading>
</ng-template>
