.pract-spec-summary {
  line-height: 1.3;
  .pract-spec-summary__name {
    font-weight: 700;
  }
  .pract-spec-summary__specialty {
    color: #ababab;
    line-height: 1;
  }
  .pract-spec-summary__qualificiations {
    line-height: 1;
  }
  .pract-spec-summary__interests {
    margin-top: 1.5rem;
    line-height: 1;
  }
}
.pract-result-location {
  line-height: 1.1;
}


.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
}


.hx-table {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
