<div
  class="hx-modal"
  [ngClass]="{'is-active': isModalActive}"
>
  <div class="hx-modal-background"></div>
  <div class="hx-modal-card">
    <header class="hx-modal-card-head"><h1 class="hx-modal-card-title">Search for a practitioner</h1>
      <a
      class="hx-button is-round is-small is-white"
      (click)="onClose()"><span class="hx-icon-control"><i
      class="icon icon-close-empty is-large"></i></span>
      </a>
    </header>
    <section class="hx-modal-card-content is-full-height">

      <div *ngIf="searchStep$ | async as searchStep">
        <!--Use async once only to prevent multiple calls, assign searchStep variable -->
            <!--Search input-->
            <div class="hx-input-group mt-1">
              <i class="hx-icon icon-search hx-flex-"></i>
              <div class="hx-input-control">
                <input
                  #searchString
                  (keyup)="search($event.target.value)"
                  id="search"
                  class="hx-input"
                  type="text"
                  required=""
                  placeholder="Search by name or specialty"
                  autofocus
                >
                <label for="search" class="hx-label"></label>
                <div class="hx-help"></div>
              </div>
              <div class="hx-input-actions">
                <div class="hx-loader is-small"></div>
                <div class="hx-button-group">
                  <button class="hx-button is-flat"><span class="hx-icon-control"><i class="icon icon-close-empty"></i></span></button>
                </div>
              </div>
            </div>

            <!-- 1 Search suggestions-->
            <app-search-suggestions
              *ngIf="searchStep === searchStepsEnum.Suggested">
            </app-search-suggestions>

            <!--Tabs and search results-->
            <div
              *ngIf="searchStep !== searchStepsEnum.Suggested">
              <hx-tabset *ngIf="selectedTabIndex$ | async as selectedTabIndex">
                <hx-tab
                  heading="Practice Address Book"
                  [active]="selectedTabIndex === 1"
                  (select)="setTab(1)">
                  <app-practice-search-results>

                  </app-practice-search-results>
                </hx-tab>

                <hx-tab
                  [active]="selectedTabIndex === 2"
                  (select)="setTab(2)">
                  <ng-template hxTabHeading>
                    Healthshare Directory
                  </ng-template>

                  <!-- 2 HealthShare search results-->
                  <!-- Note: using [hidden] rather than ngIf as ngIf removes from DOM and results in the inner observables not to being subscribed to immediately  -->
                  <app-healthshare-search-results
                    [hidden]="searchStep !== searchStepsEnum.Matching"
                    [specialties]="specialtiesMatching$ | async"
                    [practitionersSearchResult]="practitionersSearchResult$ | async"
                    [searchString]="searchString.value">
                  </app-healthshare-search-results>

                  <!-- 3 Practitioners by specialty-->
                  <app-healthshare-specialty-results
                    *ngIf="searchStep === searchStepsEnum.PractitionersBySpecialtyId"
                    [specialtyId]="selectedSpecialtyId$ | async"
                  >
                  </app-healthshare-specialty-results>

                  <!-- 4 Practitioner detail-->
                  <app-healthshare-practitioner-detail
                    *ngIf="searchStep === searchStepsEnum.PractitionerDetail"
                    [practitionerId]="selectedPractitionerId$ | async">
                  </app-healthshare-practitioner-detail>


                </hx-tab>
              </hx-tabset>
            </div>

      </div>

    </section>

    <!--<footer class="hx-modal-card-foot">-->
      <!--<button-->
        <!--(click)="onClose()"-->
        <!--class="hx-button">Cancel</button>-->
    <!--</footer>-->
  </div>
</div>




