.pract-result {
  display: flex;
  flex-direction: column;
  .pract-result__name {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.2rem;
  }
  .pract-result__specialty {
    font-weight: 200;
    line-height: 1;
  }
}
.pract-result-location {
  line-height: 1.1;
}

.hx-table {
  &.has-border-y {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
}
