<div *ngIf="practitionersSearchResult" class="mt-10">

  <div class="search-heading mb-5">
    <span class="h6 search-heading__title is-info is-text-weight-bolder">Names</span>
    <span class="search-heading__matching ml-3">
      {{ practitionersSearchResult.count }} result{{ practitionersSearchResult.length === 1 ? '' : 's' }} matching '{{ this.searchString }}'</span>
  </div>

  <table class="hx-table is-hover has-border-y">
    <tbody>
    <tr
      *ngFor="let practitioner of practitionersSearchResult.results"
      (click)="choosePractitioner(practitioner.id)"
    >
      <td>
        <div class="pract-result">
          <div class="pract-result__name" [innerHTML]="formatPractitionerName(practitioner)">
          </div>
          <div class="pract-result__specialty">
            {{ getSpecialtyNames(practitioner.specialties) }}
          </div>
        </div>
      </td>
      <td>
        <div class="pract-result-location">
          {{ practitioner.location }}
        </div>
      </td>
      <td class="is-text-right">
        <i class="hx-icon icon-angle-right"></i>
      </td>
    </tr>
    </tbody>
  </table>

</div>
