<div
  *ngIf="searchStepPrevious$ | async; let previousStep"
  (click)="goBack(previousStep)"
  class="breadcrumb">
  <div class="breadcrumb-back">
    <i class="hx-icon is-medium icon-angle-left"></i>
  </div>
  <div class="breadcrumb-text">
    Back to search results
  </div>
</div>

<div *ngIf="(practitioner$ | async) as practitioner; else loading">

  <div class="pract-header">
    <div class="pract-header__avatar">
      <div
        class="hx-avatar mx-1 is-x-large"
        [style.background-image]="'url(' + practitioner.avatar  + ')'">
      </div>
    </div>
    <div class="pract-header__summary">
      <div class="pract-title">
        {{ practitioner.title }} {{ practitioner.first_name }} {{ practitioner.last_name }}
      </div>
      <div class="pract-specialty">
        {{ getSpecialtyNames(practitioner.specialties) }}
      </div>
      <div class="pract-qualifications">
        {{ practitioner.qualifications_title }}
        <div *ngIf="!practitioner.qualifications_title">
          <!--TODO: Check for html and remove -->
          {{ practitioner.qualifications }}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="practitioner.interests_description">
    <h5 class="pract-heading">Special interest/s</h5>
    <div class="pract-text">
      {{ practitioner.interests_description}}
    </div>
  </div>

  <div *ngIf="practitioner.practices">
    <h5 class="pract-heading">Location and opening hours</h5>
    <div class="pract-text">
      <app-practice [practices]="practitioner.practices"></app-practice>
    </div>
  </div>

  <div *ngIf="practitioner.bio">
    <h5 class="pract-heading">Biography</h5>
    <div
      class="pract-text"
      [innerHTML]="practitioner.bio">
    </div>
  </div>

  <div *ngIf="practitioner?.hospitals.length > 0">
    <h5 class="pract-heading">Hospital affiliation</h5>
    <div class="pract-text">
      {{ practitioner.hospitals }}
    </div>
  </div>

  <div *ngIf="practitioner.qualifications || practitioner.qualifications_title">
    <h5 class="pract-heading">Qualifications</h5>
    <div class="pract-text">
      {{ practitioner.qualifications }}
      <div *ngIf="!practitioner.qualifications">
        {{ practitioner.qualifications_title }}
      </div>
    </div>
  </div>

  <div *ngIf="practitioner.awards">
    <h5 class="pract-heading">Awards and publications</h5>
    <div
      class="pract-text"
      [innerHTML]="practitioner.awards">
    </div>
  </div>

</div>

<app-healthshare-signature></app-healthshare-signature>

<ng-template #loading>
  <app-loading loadingText="Loading practitioner ..."></app-loading>
</ng-template>
