.pract-header {
  display: flex;
  align-items: center;

  .pract-header__avatar {
      .hx-avatar.is-x-large {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 2rem;
      }
  }
  .pract-header__summary {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    line-height: 1;
  }
}

.pract-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.pract-specialty {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  letter-spacing: -0.2px;
}

.pract-qualifications {
  font-weight: 100;
}

.pract-heading {
  margin-top: 1.75rem;
  margin-bottom: 0.5rem;
}
.pract-text {
  line-height: 1.2;
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
