<div class="location-selector">
  <div class="hx-dropdown" hxaDropdown placement="bottom">
    <button class="hx-button" hxDropdownToggle type="button">
      <span class="is-text-weight-light">Location:&nbsp; </span><span class="is-text-weight-bolder">Near patient</span>
      <span class="hx-icon-control"><i class="icon icon-caret-down"></i></span>
    </button>
    <div class="hx-dropdown-menu" *hxaDropdownMenu >
      <div class="hx-dropdown-header">Location</div>
      <div class="px-3">
        <div class="hx-input-group">
          <i class="hx-icon icon-search is-small"></i>
          <div class="hx-input-control mb-2">
            <input
              id="locationSearch"
              class="hx-input"
              type="text"
              required=""
              placeholder="Postcode or suburb"
              style="font-size: 0.85rem; padding-right: 0;"
            >
            <label for="locationSearch" class="hx-label"></label>
            <div class="hx-help"></div>
          </div>
          <div class="hx-input-actions">
            <div class="hx-loader is-small"></div>
          </div>
        </div>
      </div>
      <a class="hx-dropdown-item has-reduced-line-height is-selected" hxaDropdownItem>
        <div>Near patient</div>
        <div><small>Westmead NSW 2145</small></div>
      </a>
      <a class="hx-dropdown-item has-reduced-line-height" hxaDropdownItem>
        <div>Near clinic</div>
        <div><small>Haymarket NSW 2000</small></div>
      </a>

    </div>
  </div>
</div>


    <app-healthshare-results-specialties
      *ngIf="specialties as specialties; else loadingSpecialties"
      [specialties]="specialties"
      [searchString]="searchString">
    </app-healthshare-results-specialties>

    <app-healthshare-results-practitioners
      *ngIf="practitionersSearchResult as practitionersSearchResult; else loadingPractitioners"
      [practitionersSearchResult]="practitionersSearchResult"
      [searchString]="searchString">
    </app-healthshare-results-practitioners>

    <app-healthshare-signature></app-healthshare-signature>

    <app-additional-actions></app-additional-actions>

    <ng-template #loadingSpecialties>
      <app-loading loadingText="Searching for matching specialties ..."></app-loading>
    </ng-template>

    <ng-template #loadingPractitioners>
      <app-loading loadingText="Searching for matching practitioners ..."></app-loading>
    </ng-template>
