<div class="search-heading mb-5">
  <span class="h6 search-heading__title is-info is-text-weight-bolder">Browse frequently used</span>
</div>


<hx-tabset>
  <hx-tab
    heading="For this patient (2)"
    [active]="true">

    <p class="is-lighter mb-3">Practitioners who have been referred to for this patient</p>
    <hx-accordion>
      <hx-accordion-container [expanded]="false">
        <hx-accordion-header>
          <div class="practice-result__specialty">Gastroenterologist (1)</div>
        </hx-accordion-header>
        <hx-accordion-body>
          <table class="hx-table">
            <tbody >
            <tr>
              <td class="col-arrow">
                <i class="hx-icon icon-angle-right"></i>
              </td>
              <td class="col-icon">
                <i class="hx-icon icon-doctor-outline"></i>
              </td>
              <td class="practice-result__name-container">
                <div class="practice-result__name">Dr Bob Beatwell</div>
                <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iologist</div>
              </td>
              <td>
                <div class="practice-result__suburb">Hartsville</div>
                <div class="practice-result__distance">5 - 10km</div>
              </td>
              <td>
                <div class="practice-result__contact">02 9123 1234</div>
              </td>
              <td class="col-button">
                <button class="hx-button is-primary">Select</button>
              </td>
            </tr>
            </tbody>
          </table>
        </hx-accordion-body>
      </hx-accordion-container>
      <hx-accordion-container [expanded]="false">
        <hx-accordion-header>
          <div class="practice-result__specialty">
            Dermatologist (Skin Specialist) (1)
          </div>
        </hx-accordion-header>
        <hx-accordion-body>
          <table class="hx-table">
            <tbody>
            <tr
              class="expandable-row"
              [ngClass]="{'expanded-doctor' : showLance }"
              (click)="toggleLance()"
            >
              <td class="col-arrow">
                <i class="hx-icon icon-angle-right" *ngIf="!showLance"></i>
                <i class="hx-icon icon-angle-up" *ngIf="showLance"></i>
              </td>
              <td class="col-icon">
                <i class="hx-icon icon-doctor-outline"></i>
              </td>
              <td class="practice-result__name-container">
                <div class="practice-result__name">Dr Lance Boil</div>
                <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iothoracic Surgeon</div>
              </td>
              <td>
                <div class="practice-result__suburb">Chatswood</div>
                <div class="practice-result__distance">< 5km</div>
              </td>
              <td>
                <div class="practice-result__contact">02 9123 6546</div>
              </td>
              <td class="col-button">
                <button
                  class="hx-button is-primary"
                  (click)="selectName()">Select
                </button>
              </td>
            </tr>


            <!--Hack to keep table row shading the same-->
            <tr *ngIf="showLance"></tr>

            <tr class="practice-result__details-row" *ngIf="showLance">
              <td></td>
              <td></td>
              <td colspan="2">
                <div class="practice-result__practice-name">
                  Chatswood <span class="is-text-weight-bolder">Card</span>iothoracic Surgeons
                </div>
                <div class="practice-result__address">
                  <div>
                    <div class="practice-result__address__line">123 Any Street</div>
                    <div class="practice-result__address__line">Chatswood NSW 2066</div>
                  </div>
                  <i class="hx-icon icon-edit-outline"></i>
                </div>
              </td>
              <td colspan="2">
                <div class="practice-result__contact">
                  lance.boil@soreasics.com.au
                </div>
                <div class="practice-result__contact">
                  <i class="hx-icon is-small icon-telephone-outline"></i>0432 123 1231
                </div>
                <div class="practice-result__contact">
                  <i class="hx-icon is-small icon-telephone-outline"></i>02 9780 3123
                </div>
                <div
                  class="practice-result__contact">
                  <i class="hx-icon is-small icon-printer-outline"></i>02 8565 1231
                </div>
              </td>
            </tr>

            <tr>
              <td class="col-arrow">
                <i class="hx-icon icon-angle-right"></i>
              </td>
              <td class="col-icon">
                <i class="hx-icon icon-doctor-outline"></i>
              </td>
              <td class="practice-result__name-container">
                <div class="practice-result__name">Dr Eve Ribchester</div>
                <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iothoracic Surgeon</div>
              </td>
              <td>
                <div class="practice-result__suburb">Drummoyne</div>
                <div class="practice-result__distance"> 20km</div>
              </td>
              <td>
                <div class="practice-result__contact">02 8123 6546</div>
              </td>
              <td class="col-button">
                <button class="hx-button is-primary">Select</button>
              </td>
            </tr>
            </tbody>
          </table>
        </hx-accordion-body>
      </hx-accordion-container>
    </hx-accordion>

  </hx-tab>

  <hx-tab
    heading="Practice wide (87)"
    >
    <p class="is-lighter mb-3">An automatically generated list of practitioners who have been referred to for all patients in the practice</p>

    <hx-accordion>
      <hx-accordion-container [expanded]="false">
        <hx-accordion-header>
          <div class="practice-result__specialty">Asthma Education (2)</div>
        </hx-accordion-header>
        <hx-accordion-body>
          <table class="hx-table">
            <tbody >
            <tr>
              <td class="col-arrow">
                <i class="hx-icon icon-angle-right"></i>
              </td>
              <td class="col-icon">
                <i class="hx-icon icon-doctor-outline"></i>
              </td>
              <td class="practice-result__name-container">
                <div class="practice-result__name">Dr Test Test</div>
                <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iologist</div>
              </td>
              <td>
                <div class="practice-result__suburb">Hartsville</div>
                <div class="practice-result__distance">5 - 10km</div>
              </td>
              <td>
                <div class="practice-result__contact">02 9123 1234</div>
              </td>
              <td class="col-button">
                <button class="hx-button is-primary">Select</button>
              </td>
            </tr>
            </tbody>
          </table>
        </hx-accordion-body>
      </hx-accordion-container>
      <hx-accordion-container [expanded]="false">
        <hx-accordion-header>
          <div class="practice-result__specialty">Cardiology (3)
          </div>
        </hx-accordion-header>
        <hx-accordion-body>
          <table class="hx-table">
            <tbody >
            <tr>
              <td class="col-arrow">
                <i class="hx-icon icon-angle-right"></i>
              </td>
              <td class="col-icon">
                <i class="hx-icon icon-doctor-outline"></i>
              </td>
              <td class="practice-result__name-container">
                <div class="practice-result__name">Dr Test Test</div>
                <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iologist</div>
              </td>
              <td>
                <div class="practice-result__suburb">Hartsville</div>
                <div class="practice-result__distance">5 - 10km</div>
              </td>
              <td>
                <div class="practice-result__contact">02 9123 1234</div>
              </td>
              <td class="col-button">
                <button class="hx-button is-primary">Select</button>
              </td>
            </tr>
            </tbody>
          </table>
        </hx-accordion-body>
      </hx-accordion-container>
      <hx-accordion-container [expanded]="false">
        <hx-accordion-header>
          <div class="practice-result__specialty">Dermatology (2)</div>
        </hx-accordion-header>
        <hx-accordion-body>
          <table class="hx-table">
            <tbody >
            <tr>
              <td class="col-arrow">
                <i class="hx-icon icon-angle-right"></i>
              </td>
              <td class="col-icon">
                <i class="hx-icon icon-doctor-outline"></i>
              </td>
              <td class="practice-result__name-container">
                <div class="practice-result__name">Dr Test Test</div>
                <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iologist</div>
              </td>
              <td>
                <div class="practice-result__suburb">Hartsville</div>
                <div class="practice-result__distance">5 - 10km</div>
              </td>
              <td>
                <div class="practice-result__contact">02 9123 1234</div>
              </td>
              <td class="col-button">
                <button class="hx-button is-primary">Select</button>
              </td>
            </tr>
            </tbody>
          </table>
        </hx-accordion-body>
      </hx-accordion-container>
      <hx-accordion-container [expanded]="false">
        <hx-accordion-header>
          <div class="practice-result__specialty">Diabetes Education (3)
          </div>
        </hx-accordion-header>
        <hx-accordion-body>
          <table class="hx-table">
            <tbody >
            <tr>
              <td class="col-arrow">
                <i class="hx-icon icon-angle-right"></i>
              </td>
              <td class="col-icon">
                <i class="hx-icon icon-doctor-outline"></i>
              </td>
              <td class="practice-result__name-container">
                <div class="practice-result__name">Dr Test Test</div>
                <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iologist</div>
              </td>
              <td>
                <div class="practice-result__suburb">Hartsville</div>
                <div class="practice-result__distance">5 - 10km</div>
              </td>
              <td>
                <div class="practice-result__contact">02 9123 1234</div>
              </td>
              <td class="col-button">
                <button class="hx-button is-primary">Select</button>
              </td>
            </tr>
            </tbody>
          </table>
        </hx-accordion-body>
      </hx-accordion-container>
      <hx-accordion-container [expanded]="false">
        <hx-accordion-header>
          <div class="practice-result__specialty">Endocrinology (5)</div>
        </hx-accordion-header>
        <hx-accordion-body>
          <table class="hx-table">
            <tbody >
            <tr>
              <td class="col-arrow">
                <i class="hx-icon icon-angle-right"></i>
              </td>
              <td class="col-icon">
                <i class="hx-icon icon-doctor-outline"></i>
              </td>
              <td class="practice-result__name-container">
                <div class="practice-result__name">Dr Test Test</div>
                <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iologist</div>
              </td>
              <td>
                <div class="practice-result__suburb">Hartsville</div>
                <div class="practice-result__distance">5 - 10km</div>
              </td>
              <td>
                <div class="practice-result__contact">02 9123 1234</div>
              </td>
              <td class="col-button">
                <button class="hx-button is-primary">Select</button>
              </td>
            </tr>
            </tbody>
          </table>
        </hx-accordion-body>
      </hx-accordion-container>
      <hx-accordion-container [expanded]="false">
        <hx-accordion-header>
          <div class="practice-result__specialty">Exercise Physiology (4)
          </div>
        </hx-accordion-header>
        <hx-accordion-body>
          <table class="hx-table">
            <tbody >
            <tr>
              <td class="col-arrow">
                <i class="hx-icon icon-angle-right"></i>
              </td>
              <td class="col-icon">
                <i class="hx-icon icon-doctor-outline"></i>
              </td>
              <td class="practice-result__name-container">
                <div class="practice-result__name">Dr Test Test</div>
                <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iologist</div>
              </td>
              <td>
                <div class="practice-result__suburb">Hartsville</div>
                <div class="practice-result__distance">5 - 10km</div>
              </td>
              <td>
                <div class="practice-result__contact">02 9123 1234</div>
              </td>
              <td class="col-button">
                <button class="hx-button is-primary">Select</button>
              </td>
            </tr>
            </tbody>
          </table>
        </hx-accordion-body>
      </hx-accordion-container>
    </hx-accordion>

  </hx-tab>

</hx-tabset>

