<div class="hx-columns mt-5">
  <div class="hx-column is-half is-offset-one-quarter">
    <hr>
    <div class="is-text-weight-bold is-light">Can't find what you're looking for?</div>
    <ul>
      <li>Search <a href="">Healthshare</a></li>
      <li><a href="Add">Add</a> a  practitioner or organisation</li>
    </ul>
  </div>
</div>
