$icons-path: '../node_modules/@hxui/css/static/static/fonts/';
@import '../node_modules/@hxui/css/static/static/scss/hxui.scss';

/* Structural css needed for CDK to work correctly */
@import   '~@angular/cdk/overlay-prebuilt.css';
@import   '~@angular/cdk/a11y-prebuilt.css';
@import   '~@angular/cdk/text-field-prebuilt.css';


//hxui overrides

.hx-tab-container .hx-tab-content {
  padding: 1rem 0;
}

.hx-accordion-header {
  padding: 0.75rem !important;
}

.hx-accordion-body-wrapper {
  padding: 0 !important;
}

.has-reduced-line-height {
  padding: 0.75rem 1rem;
  > * {
    line-height: 1;
  }
}

.is-selected {
  color: #fff;
  text-decoration: none;
  background-color: #41b987;
}


.location-selector {
  text-align: right;
  margin-bottom: 0.5rem;
}

.search-heading {
  .search-heading__title {
  }
  .search-heading__matching {
    font-size: 0.75rem;
  }
  margin-bottom: 0.5rem;
}

.hx-table {

  margin-bottom: 0rem;
  &.has-border-y {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
  .col-arrow,
  .col-icon {
    vertical-align: top;
    padding-left: 0;
    .hx-icon {
      width: 1rem;
      height: 1rem;
    }
  }

  .col-arrow {
    width: 40px;
    max-width: 40px;
    cursor: pointer;
    text-align: right;
  }

  .col-button {
    width: 85px;
    max-width: 85px;
    text-align: right;
  }

  tbody.hx-table-group  {
    box-shadow: none;

    th {
      &:hover {
        background-color: #fafafa;
        transition: 0s;
      }
    }


    > tr > th {
      padding: 0.5rem;
    }
  }

  tbody > tr.expanded-doctor {
    > td {
      border-bottom: 1px dashed #dedede;
    }
    > td.col-arrow {
      border-bottom: 0px;
    }

  }
}

.healthshare-logo {
  width: 100px;
}
