.practice-result__specialty-container {
  justify-content: space-between;
  align-items: center;
}

.practice-result__specialty-container {
  cursor: pointer;
}

.practice-result__specialty {
  font-weight: 300;
  font-size: 0.85rem;
  text-transform: initial;
  color: initial;
}

.practice-result__name-container {
  vertical-align: top;
}

.practice-result__title {
  font-weight: 200;
  line-height: 1;
}


.practice-result__details-row {
  td {
    vertical-align: top;
    border-top: none;
  }
}
.practice-result__suburb {
  font-weight: 200;
}

.practice-result__name,
.practice-result__practice-name {
  line-height: 1;
  margin-bottom: 0.35rem;
}

.practice-result__address {
  display: flex;
  align-items: flex-end;
  font-weight: 200;
  .practice-result__address__line {
    line-height: 1;
  }
}
.practice-result__contact {
  font-weight: 200;
  width: 110px;
}

.expandable-row {
  cursor: pointer;
}
