<!-- This is a static HTML Mockup. Angular code is for prototype purposes only -->
<div class="location-selector">
  <div class="hx-dropdown is-limited-width" hxaDropdown placement="bottom">
    <button class="hx-button" hxDropdownToggle type="button">
      <span class="is-text-weight-light">Location:&nbsp; </span><span class="is-text-weight-bolder">Near patient</span>
      <span class="hx-icon-control"><i class="icon icon-caret-down"></i></span>
    </button>
    <div class="hx-dropdown-menu" *hxaDropdownMenu >
      <div class="hx-dropdown-header">Location</div>
      <div class="px-3">
        <div class="hx-input-group">
          <i class="hx-icon icon-search is-small"></i>
          <div class="hx-input-control mb-2">
            <input
              id="locationSearch"
              class="hx-input"
              type="text"
              required=""
              placeholder="Postcode or suburb"
              style="font-size: 0.85rem; padding-right: 0;"
            >
            <label for="locationSearch" class="hx-label"></label>
            <div class="hx-help"></div>
          </div>
          <div class="hx-input-actions">
            <div class="hx-loader is-small"></div>
          </div>
        </div>
      </div>
      <a class="hx-dropdown-item has-reduced-line-height is-selected" hxaDropdownItem>
        <div>Near patient</div>
        <div><small>Westmead NSW 2145</small></div>
      </a>
      <a class="hx-dropdown-item has-reduced-line-height" hxaDropdownItem>
        <div>Near clinic</div>
        <div><small>Haymarket NSW 2000</small></div>
      </a>

  </div>
  </div>
</div>

<div class="search-heading mb-5">
  <span class="h6 search-heading__title is-info is-text-weight-bolder">Specialties</span>
  <span class="search-heading__matching ml-3">3 results matching 'card'</span>
</div>


<hx-accordion>
  <hx-accordion-container [expanded]="false">
    <hx-accordion-header>
      <div class="practice-result__specialty"><span class="is-text-weight-bolder">Card</span>iologist (1)</div>
    </hx-accordion-header>
    <hx-accordion-body>
      <table class="hx-table">
        <tbody >
      <tr>
        <td class="col-arrow">
          <i class="hx-icon icon-angle-right"></i>
        </td>
        <td class="col-icon">
          <i class="hx-icon icon-doctor-outline"></i>
        </td>
        <td class="practice-result__name-container">
          <div class="practice-result__name">Dr Bob Beatwell</div>
          <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iologist</div>
        </td>
        <td>
          <div class="practice-result__suburb">Hartsville</div>
          <div class="practice-result__distance">5 - 10km</div>
        </td>
        <td>
          <div class="practice-result__contact">02 9123 1234</div>
        </td>
        <td class="col-button">
          <button class="hx-button is-primary">Select</button>
        </td>
      </tr>
      </tbody>
      </table>
    </hx-accordion-body>
  </hx-accordion-container>
  <hx-accordion-container [expanded]="false">
    <hx-accordion-header>
      <div class="practice-result__specialty">
        <span class="is-text-weight-bolder">Card</span>iothoracic Surgeon (2)
      </div>
    </hx-accordion-header>
    <hx-accordion-body>
      <table class="hx-table">
        <tbody>
        <tr
          class="expandable-row"
          [ngClass]="{'expanded-doctor' : showLance }"
          (click)="toggleLance()"
        >
          <td class="col-arrow">
            <i class="hx-icon icon-angle-right" *ngIf="!showLance"></i>
            <i class="hx-icon icon-angle-up" *ngIf="showLance"></i>
          </td>
          <td class="col-icon">
            <i class="hx-icon icon-doctor-outline"></i>
          </td>
          <td class="practice-result__name-container">
            <div class="practice-result__name">Dr Lance Boil</div>
            <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iothoracic Surgeon</div>
          </td>
          <td>
            <div class="practice-result__suburb">Chatswood</div>
            <div class="practice-result__distance">< 5km</div>
          </td>
          <td>
            <div class="practice-result__contact">02 9123 6546</div>
          </td>
          <td class="col-button">
            <button
              class="hx-button is-primary"
              (click)="selectName()">Select
            </button>
          </td>
        </tr>


        <!--Hack to keep table row shading the same-->
        <tr *ngIf="showLance"></tr>

        <tr class="practice-result__details-row" *ngIf="showLance">
          <td></td>
          <td></td>
          <td colspan="2">
            <div class="practice-result__practice-name">
              Chatswood <span class="is-text-weight-bolder">Card</span>iothoracic Surgeons
            </div>
            <div class="practice-result__address">
              <div>
                <div class="practice-result__address__line">123 Any Street</div>
                <div class="practice-result__address__line">Chatswood NSW 2066</div>
              </div>
              <i class="hx-icon icon-edit-outline"></i>
            </div>
          </td>
          <td colspan="2">
            <div class="practice-result__contact">
              lance.boil@soreasics.com.au
            </div>
            <div class="practice-result__contact">
              <i class="hx-icon is-small icon-telephone-outline"></i>0432 123 1231
            </div>
            <div class="practice-result__contact">
              <i class="hx-icon is-small icon-telephone-outline"></i>02 9780 3123
            </div>
            <div
              class="practice-result__contact">
              <i class="hx-icon is-small icon-printer-outline"></i>02 8565 1231
            </div>
          </td>
        </tr>

        <tr>
          <td class="col-arrow">
            <i class="hx-icon icon-angle-right"></i>
          </td>
          <td class="col-icon">
            <i class="hx-icon icon-doctor-outline"></i>
          </td>
          <td class="practice-result__name-container">
            <div class="practice-result__name">Dr Eve Ribchester</div>
            <div class="practice-result__title"><span class="is-text-weight-bolder">Card</span>iothoracic Surgeon</div>
          </td>
          <td>
            <div class="practice-result__suburb">Drummoyne</div>
            <div class="practice-result__distance"> 20km</div>
          </td>
          <td>
            <div class="practice-result__contact">02 8123 6546</div>
          </td>
          <td class="col-button">
            <button class="hx-button is-primary">Select</button>
          </td>
        </tr>
        </tbody>
      </table>
    </hx-accordion-body>
  </hx-accordion-container>
  <hx-accordion-container [expanded]="false">
    <hx-accordion-header>
      <div class="practice-result__specialty">Paediatric <span class="is-text-weight-bolder">Card</span>iologist (3)</div>
    </hx-accordion-header>
    <hx-accordion-body>
      <table class="hx-table">
        <tbody>
      <tr>
        <td class="col-arrow">
          <i class="hx-icon icon-angle-right"></i>
        </td>
        <td class="col-icon">
          <i class="hx-icon icon-doctor-outline"></i>
        </td>
        <td class="practice-result__name-container">
          <div class="practice-result__name">Dr Hugh Morris Beatwell</div>
          <div class="practice-result__title">Paediatric <span class="is-text-weight-bolder">Card</span>iologist</div>
        </td>
        <td>
          <div class="practice-result__suburb">Hornsby</div>
          <div class="practice-result__distance">5 - 10km</div>
        </td>
        <td>
          <div class="practice-result__contact">02 9123 1234</div>
        </td>
        <td class="col-button">
          <button class="hx-button is-primary">Select</button>
        </td>
      </tr>
      <tr>
        <td class="col-arrow">
          <i class="hx-icon icon-angle-right"></i>
        </td>
        <td class="col-icon">
          <i class="hx-icon icon-doctor-outline"></i>
        </td>
        <td class="practice-result__name-container">
          <div class="practice-result__name">Dr Hugh Morris Beatwell</div>
          <div class="practice-result__title">Paediatric <span class="is-text-weight-bolder">Card</span>iologist</div>
        </td>
        <td>
          <div class="practice-result__suburb">Hornsby</div>
          <div class="practice-result__distance">5 - 10km</div>
        </td>
        <td>
          <div class="practice-result__contact">02 9123 1234</div>
        </td>
        <td class="col-button">
          <button class="hx-button is-primary">Select</button>
        </td>
      </tr>
      <tr>
        <td class="col-arrow">
          <i class="hx-icon icon-angle-right"></i>
        </td>
        <td class="col-icon">
          <i class="hx-icon icon-doctor-outline"></i>
        </td>
        <td class="practice-result__name-container">
          <div class="practice-result__name">Dr Hugh Morris Beatwell</div>
          <div class="practice-result__title">Paediatric <span class="is-text-weight-bolder">Card</span>iologist</div>
        </td>
        <td>
          <div class="practice-result__suburb">Hornsby</div>
          <div class="practice-result__distance">5 - 10km</div>
        </td>
        <td>
          <div class="practice-result__contact">02 9123 1234</div>
        </td>
        <td class="col-button">
          <button class="hx-button is-primary">Select</button>
        </td>
      </tr>
      </tbody>
      </table>
    </hx-accordion-body>
  </hx-accordion-container>
</hx-accordion>

<div class="search-heading mt-10 mb-5">
  <span class="h6 search-heading__title is-info is-text-weight-bolder">Names</span>
  <span class="search-heading__matching ml-3">2 results matching 'card'</span>
</div>
<table class="hx-table has-border-y">
  <tbody>
  <tr>
    <td class="col-arrow">
      <i class="hx-icon icon-angle-right"></i>
    </td>
    <td class="col-icon">
      <i class="hx-icon icon-doctor-outline"></i>
    </td>
    <td class="practice-result__name-container">
      <div class="practice-result__name">Dr Sally <span class="is-text-weight-bolder">Card</span>inalli</div>
      <div class="practice-result__title">Dermatologist</div>
    </td>
    <td>
      <div class="practice-result__suburb">Bondi</div>
      <div class="practice-result__distance">5 - 10km</div>
    </td>
    <td>
      <div class="practice-result__contact">02 9123 7634</div>
    </td>
    <td class="col-button">
      <button class="hx-button is-primary">Select</button>
    </td>
  </tr>

  <tr>
    <td class="col-arrow">
      <i class="hx-icon icon-angle-right"></i>
    </td>
    <td class="col-icon">
      <i class="hx-icon icon-home-outline"></i>
    </td>
    <td class="practice-result__name-container">
      <div class="practice-result__name">Royal Women's <span class="is-text-weight-bolder">Card</span>iology Department</div>
    </td>
    <td>
      <div class="practice-result__suburb">Randwick</div>
      <div class="practice-result__distance">5 - 10km</div>
    </td>
    <td>
      <div class="practice-result__contact">02 8123 7634</div>
    </td>
    <td class="col-button">
      <button class="hx-button is-primary">Select</button>
    </td>
  </tr>

  </tbody>

</table>

<app-additional-actions></app-additional-actions>
